header {
    display: flex;
    align-items: center;
}

header p {
    text-align: center;
}

header h1 {
    margin: 0;
}

.list {
    list-style: none;
} 

#header-nav {
    display: flex;
    align-items: center; 
    gap: 32px;
}

#sobre {
    background-color: rgba(0, 0, 0, 0.05);
}

#linguas {
    background-color: rgba(0, 0, 0, 0.05);
}

#contato {
    background-color: rgba(0, 0, 0, 0.05);
}